<h1>以下の内容で、送信する。</h1>
<nav>
  <%= form_with(model: @posting, url: postings_path, local: true) do |form| %>
    <%= form.hidden_field :content %>
    <p>本文:<%= @posting.content %></p>
    <%= form.submit  "登録する" %>
  <% end %>

  <%= form_with(model: @posting, url: new_posting_path, local: true, method: 'get') do |form| %>
    <%= form.hidden_field :content %>
    <%= form.submit "もどる", name: 'back' %>
  <% end %>