<!DOCTYPE html>
<html>
  <head>
    <title>Twtcln</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">

      <header>
        <nav class="navbar">
          <ul>
            <li><%= link_to "投稿一覧ページ", postings_path %></li>
            <li><%= link_to "新規投稿", new_posting_path %></li>
          </ul>
        </nav>
      </header>


        <%= yield %>

      <footer>
        <p>rails課題</p>
      </footer>

    </div>
  </body>
</html>
